.search_box {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.form_search {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.form_search_input {
  display: flex;
  flex-direction: column;
}

.form_input {
  border: 1px solid #0d0259;
  border-radius: 5px;
  background: #d9305d;
  padding: 2px 5px;
  color: #071826;
}

.form_btn {
  background: #f25835;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 4px 8px;
}

.form_btn:hover {
  border: 1px solid #f25835;
  color: #071826;
}
