.box_list {
  margin-top: 30px;
}

.film_items {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.film_item {
  position: relative;
  width: 300px;
  background: #f25835;
  color: #161827;
  border: 1px solid #f3f0e0;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.film_item span {
  color: #0f7cbf;
}

.item_img {
  max-width: 200px;
}

.item_title,
.item_age {
  text-align: center;
}

.add_item_btn {
  margin-top: 10px;
  border-radius: 10px;
  padding: 4px 10px;
  background: #455918;
}

.add_item_btn:hover {
  background: #c1f20f;
}

.item_del {
  position: absolute;
  right: -1px;
  top: -1px;
  z-index: 99;
  border: 1px solid black;
  background: red;
  border-radius: 10px;
  padding: 5px 10px;
}

.item_del:hover {
  background: black;
  color: #f25835;
}
